<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offeset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <label for="nome">Nome</label>
        <input type="text" 
          id="nome"
          class="form-control"
          ngModel name="nome"
          required
          #nome="ngModel">
          <span class="help-block" *ngIf="!nome.valid && nome.touched">
            Please enter a name! <br/>
          </span>
        <label for="email">E-Mail</label>
          <input type="text" 
            id="email"
            class="form-control"
            ngModel name="email"
            required
            email
            #email="ngModel">
            <span class="help-block" *ngIf="!email.valid && email.touched">
              Please enter a valid e-mail! <br/>
            </span>
        <label for="subscription">Subscrição</label>
          <select 
            id="subscription"
            class="form-control"
            ngModel name="subscription"
            [ngModel]="defaultSubscription"
            ngModel
            required>
            <option value="Basic">Básico</option>
            <option value="Advanced">Avançado</option>
            <option value="Pro">Profissional</option>
          </select> 


          <label for="password">Senha</label>
          <input type="password"
            id="password"
            class="form-control"
            ngModel name="password"
            required
            password
            #password="ngModel">
            <span class="help-block" *ngIf="!password.valid && password.touched">
              Please enter a valid password <br/>
            </span> 
        <button class="btn btn-primary" type="submit" >Submit</button>
        <div *ngIf="!f.valid && f.touched">
          <h1> O forms está invalido</h1>
        </div>


      </form>




    </div>
  </div>
</div>



<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

<router-outlet></router-outlet> -->
